{% extends "base.html" %}

{%- block nav -%}
    <a class="nav-link" style="text-align: center; color:#fff;">ACCOUNT</a>
{%- endblock -%}

{%- block body -%}
    <div class="jumbotron" style="padding-bottom:10px;padding-top:10px;">
        <h3>Account Details</h3><br>
        <div class='userDetails'>
            <script src="../static/js/ajaxJS.js"></script>
            <script>getUserDetails()</script>
        </div>
    </div>
    <div class="jumbotron" style="padding-bottom:10px;padding-top:10px;">
        <h3>Change Password</h3><br>
        <form class="form-signin" autocomplete="off">
            <label for="inputCurrPass" class="sr-only">Current Password</label>
            <input style="margin-bottom:10px;" type="text" name="inputCurrPass" id="inputCurrPass" class="form-control" placeholder="Input your current password!" required autofocus autocomplete="off">
            <label for="inputNewPass" class="sr-only">New Password</label>
            <input style="margin-bottom:10px;" type="text" name="inputNewPass" id="inputNewPass" class="form-control" placeholder="Input your new password!" required autofocus autocomplete="off">
            <label for="inputNewPassConfirm" class="sr-only">Confirm New Password</label>
            <input style="margin-bottom:10px;" type="text" name="inputNewPassConfirm" id="inputNewPassConfirm" class="form-control" placeholder="Confirm your new password!" required autofocus autocomplete="off">
            <button id="change" class="btn btn-lg btn-primary btn-block" type="button">Reset Password</button>
        </form>
    </div>
{%- endblock -%}

{%- block bottom_nav -%}
    <li class="nav-item">
        <a href="/" class="nav-link" style="text-align: center; color:#fff;">HOMEPAGE</a>
    </li>
    {%- if session and session['user']['_logged_in'] == True: -%}
        <li class="nav-item">
            <a href="/menu" class="nav-link" style="text-align: center; color:#fff;">MENU</a>
        </li>
        <li class="nav-item">
            <a href="/account" class="nav-link" style="text-align: center; color:#fff;">ACCOUNT DETAILS</a>
        </li>
        {%- if session and session['user']['_admin'] == True: -%}
            <li class="nav-item">
                <a href="/orders" class="nav-link" style="text-align: center; color:#fff;">CUSTOMER ORDERS</a>
            </li>
        {%- endif -%}
    {%- endif -%}
{%- endblock -%}