<nav class="navbar fixed-bottom navbar-dark nav-fill" style="background-color: #333!important;list-style-type: none;">
    <li class="nav-item">
        <a href="/" class="nav-link" style="text-align: center; color:#fff;">HOMEPAGE</a>
    </li>
    {% if session and session['user']['_logged_in'] == True: %}
        <li class="nav-item">
            <a href="/menu" class="nav-link" style="text-align: center; color:#fff;">MENU</a>
        </li>
        <li class="nav-item">
            <a href="/account" class="nav-link" style="text-align: center; color:#fff;">ACCOUNT DETAILS</a>
        </li>
        {% if session and session['user']['_admin'] == True: %}
            <li class="nav-item">
                <a href="/orders" class="nav-link" style="text-align: center; color:#fff;">CUSTOMER ORDERS</a>
            </li>
        {% endif %}
    {% endif %}
</nav>