<head>
    <title>Coffee Shack</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/js/ajaxJS.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $('#btnSignUp').click(function() {
                    $.ajax({
                        url: "{{url}}",
                        data: $('form').serialize(),
                        type: 'POST',
                        success: function(response) {
                            var json = JSON.parse(response);
                  
                            if(json.message){
                                $('.form-signin').children('p').remove();
                                $('.form-signin').children('br').remove();
                                $('.form-signin').append('<br><p style="color:green; font-size:15px;text-align:center">'+json.message+'</p>');
                                if(json.redirect !== undefined && json.redirect){
                                  setTimeout(function() {
                                    window.location.href = json.redirect;
                                  }, 3000);
                                }
                            } else if(json.error){
                                $('.form-signin').children('p').remove();
                                $('.form-signin').children('br').remove();
                                $('.form-signin').append('<br><p style="color:red; font-size:15px;text-align:center">'+json.error+'</p>');
                            }
                        }
                    });
                });
                $("#inner-accordion, #outer-accordion, #accordion, #inner-accordion-bakery, #staff-accordion, #basket-accordion").accordion({
                    collapsible: true,
                    heightStyle: "content",
                    active: false
                });
                $('#logout').click(function() {
                    $.ajax({
                        url: "/logout",
                        success: function(response) {
                            var json = JSON.parse(response);
                  
                            if(json.message){
                                $('.form-signin').children('p').remove();
                                $('.form-signin').children('br').remove();
                                $('.form-signin').append('<br><p style="color:green; font-size:15px;text-align:center">'+json.message+'</p>');
                                if(json.redirect !== undefined && json.redirect){
                                  setTimeout(function() {
                                    window.location.href = json.redirect;
                                  }, 3000);
                                }
                            } else if(json.error){
                                $('.form-signin').children('p').remove();
                                $('.form-signin').children('br').remove();
                                $('.form-signin').append('<br><p style="color:red; font-size:15px;text-align:center">'+json.error+'</p>');
                            }
                        }
                    });
                });
                $('#change').click(function() {
                    $.ajax({
                        url: "{{reset_pass_url}}",
                        data: $('form').serialize(),
                        type: 'POST',
                        success: function(response) {
                            var json = JSON.parse(response);
                  
                            if(json.message){
                                $('.form-signin').children('p').remove();
                                $('.form-signin').children('br').remove();
                                $('.form-signin').append('<br><p style="color:green; font-size:15px;text-align:center">'+json.message+'</p>');
                                if(json.redirect !== undefined && json.redirect){
                                  setTimeout(function() {
                                    window.location.href = json.redirect;
                                  }, 3000);
                                }
                            } else if(json.error){
                                $('.form-signin').children('p').remove();
                                $('.form-signin').children('br').remove();
                                $('.form-signin').append('<br><p style="color:red; font-size:15px;text-align:center">'+json.error+'</p>');
                            }
                        }
                    });
                });
                function swapStyle(media) {
                    if (media.matches) { // If media query matches
                        $('#outer-accordion').show();
                        $('#basket-accordion').css({'float':'none', 'max-width':'none'});
                        
                        if($(location).attr('pathname') != '/orders'){
                            $('.card').hide();
                        }

                        $('.basket-products').css('font-size','1.1em');
                        $('.total').css('font-size','1.2em');
                    } else {
                        $('#outer-accordion').hide();
                        $('.card').show();
                        $('.basket-products').css('font-size','1.5em');
                        $('.total').css('font-size','2em');
                        $('#basket-accordion').css({'float':'right', 'max-width':'none'});
                    }
                }

                function swapSmaller(media) {
                    if (media.matches) { // If media query matches
                        $('.basket-products').css('font-size','0.8em');
                        $('.total').css('font-size','0.9em');
                        $('#basket-accordion').css('float','none');
                    } else {
                        $('.basket-products').css('font-size','1.1em');
                        $('.total').css('font-size','2em');
                    }
                }
                var media = window.matchMedia("(max-width: 990px)")
                var media2 = window.matchMedia("(max-width: 500px)")
                swapStyle(media) // Call listener function at run time
                swapSmaller(media2) // Call listener function at run time
                media.addListener(swapStyle) // Attach listener function on state change
                media2.addListener(swapSmaller) // Attach listener function on state change

                $(document).ready(()=>{ 
                     $("#qty option").attr('selected', 'selected'); 
                });   
            });
        });
    </script>
    <nav class="navbar fixed-top navbar-dark nav-fill" style="background-color: #333!important; color:#fff">
      <a class="navbar-brand">COFFEE SHACK</a>
      {% if url == '/menu': %}
        <a class="nav-link" style="text-align: center; color:#fff;">MENU</a>
      {% elif url == '/main' or url == '/': %}
        <a class="nav-link" style="text-align: center; color:#fff;">HOME</a>
      {% elif url == '/account': %}
        <a class="nav-link" style="text-align: center; color:#fff;">ACCOUNT</a>
      {% elif url == '/signUp': %}
        <a  class="nav-link" style="text-align: center; color:#fff;">SIGN UP</a>
      {% elif url == '/login': %}
        <a class="nav-link" style="text-align: center; color:#fff;">LOG IN</a>
      {% endif %}
    </nav>
</head>