{% include 'header.html' %}
<body>
    <div class="container" style="margin-top:60px; padding-bottom:60px; max-wdith:1300px;">
        <!--JQuery accordion-->
        <div id="outer-accordion">
            <h3>Coffee Selection</h3>
            <div>
                <!--JQuery accordion-->
                <div id="inner-accordion">
                    <h3>Latte</h3>
                        <div class='Coffee_Latte'>
                            <script type="text/javascript">getProduct('Coffee_Latte');</script>
                        </div>
                    <h3>Americano</h3>
                        <div class='Coffee_Americano'>
                            <script type="text/javascript">getProduct('Coffee_Americano');</script>
                        </div>
                    <h3>Espresso</h3>
                        <div class='Coffee_Espresso'>
                            <script type="text/javascript">getProduct('Coffee_Espresso');</script>
                        </div>
                    <h3>Macchiato</h3>
                        <div class='Coffee_Macchiato'>
                            <script type="text/javascript">getProduct('Coffee_Macchiato');</script>
                        </div>
                    <h3>Cappuccino</h3>
                        <div class='Coffee_Cappuccino'>
                            <script type="text/javascript">getProduct('Coffee_Cappuccino');</script>
                        </div>
                    <h3>Mocha</h3>
                        <div class='Coffee_Mocha'>
                            <script type="text/javascript">getProduct('Coffee_Mocha');</script>
                        </div>
                </div>
            </div>
            <h3>Bakery items</h3>
            <div>
                <!--JQuery accordion-->
                <div id="inner-accordion-bakery">
                    <h3>On the side..</h3>
                    <div class='Bakery'>
                        <script type="text/javascript">getProduct('Bakery');</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>