<div class="jumbotron"  style="padding-top:10px;padding-bottom:5px; margin-bottom:5px">
    <p style="font-size:15px">Already have an account?<br>No worries, click <a href="/">here</a> to login</p>
</div>
<div class="jumbotron" style="padding-bottom:10px;padding-top:10px;">
    <h3>Account Registration</h3><br>
    <form class="form-signin" autocomplete="off">
        <label for="inputFirstName" class="sr-only">Name</label>
        <input style="margin-bottom:10px;" type="name" name="inputFirstName" id="inputFirstName" class="form-control" placeholder="Input your First Name" required autofocus autocomplete="off">
        <label for="inputSecondName" class="sr-only">Name</label>
        <input style="margin-bottom:10px;" type="name" name="inputSecondName" id="inputSecondName" class="form-control" placeholder="Input your Second Name" required autofocus autocomplete="off">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input style="margin-bottom:10px;" type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus autocomplete="off">
        <label for="inputPassword" class="sr-only">Password</label>
        <input style="margin-bottom:10px;" type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required autocomplete="off">
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
    </form>
</div>